body{
    margin: 0px;
    font-family: Roboto, sans-serif;
}
$Primaire: #9356dc;
$Secondaire: #ff79da;
$Tertiaire: #99e2d0;
.deco{
    box-shadow: 5px 5px 5px #d1d1d1; ;
}
.bold{
    font-weight: bold;
}
a{
    text-decoration: none;
    color: black;
}
header {
   position: relative;
   padding-top: 10px;
   margin-bottom: 20px;
   img{
       width: 40%;
       max-height: 30px;
       position: absolute;
       left: 30%;
   }
   a{
       position: absolute;
       left: 5%;
       top: 100%;
       i{
        font-size: 30px;
        
       }
   }
}
div.ImgRestaurant{
    img{
        position: relative;
        margin-top: 20px;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        max-height: 400px;
        
    }
}
section.ContainMenu{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    padding-top: 100px;
    margin-top: -50px;
    background: #f6f6f6;
    
    .Menu{
        display: grid;
        row-gap: 40px;
        margin-left: 20px;
    }
    h2{
        position: relative;
        text-transform: uppercase;
        font-size: 1.3rem;
        padding-bottom: 1px;
        margin-left: 15px;
        &::after{
            content: "";
            background: $Tertiaire;
            -webkit-filter: brightness(1.1);
                    filter: brightness(1.1);
            height: 3px;
            width: 60px;
            position: absolute;
            bottom: 0%;
            left: 0%;
            transform-origin: left;
        }
        
    }
    .Entrées, .Plats, .Desserts {
        display: grid;
        gap: 10px;
        width: 96%;
        .BoiteTextMenu{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            border-radius: 25px;
            width: 100%;
            height: 70px;
            overflow: hidden;
            /* border: 1PX black solid; */
            .TextMenu{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin-left: 15px; 
                margin-top: -15px;
                flex: 1;
                flex-wrap: wrap;
            }   
        }
    }
}
.Coeur{
    position: absolute;
    left: 80%;
    top: 1%;
    height: 50px;
    transition: all 1s linear;
    z-index: 4;
    .empty, .full{
        position: absolute;
        top: 40%;
        font-size: 30px;
        transition: all 1s linear;
        z-index: 5;
    }
    .full{
        opacity: 0;
        z-index: 6;
        height: 0%;
        background: linear-gradient($Primaire, $Secondaire);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
       
        &:hover{
            opacity: 1;
            height: 100%;
        }
    }
}
.Coeur:hover .empty{
    opacity: 0;
    height: 0%;
}

.Description{
    flex-direction: row;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 0px;
    font-size: 0.9rem;
    
     
}
.Prix{
    display: flex;    
    margin-top: 20px;
    padding-right: 25px;
}
h3{
    font-weight: bold;
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    margin: 0; 
    margin-top: 20px;
}
h1{
    
    font-family: 'Shrikhand', cursive;
    font-weight: bold;
    font-size: 1.6rem;
    margin-left: 30px;
    margin-top: -70px;

}
.AnimMenu{
    background-color: #99E2D0;
    width: 70px;
    margin-right: -70px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    font-size: 1.5em;
    border-radius: 0 10px 10px 0;
    transition: all 0.5s linear;
    i{
        transition: all 0.5s linear;
    }
}
.BoiteTextMenu:hover .AnimMenu{
    margin: 0px;
    i{
        transform: rotate(720deg);
    }
}
.BoiteTextMenu:hover .TextMenu{
    max-width: 200px;
    .Description{
        max-width: 200px;
    }
}
.Button{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 10px;
    button{
        height: 50px;
        width: 220px;
        font-weight: bold;
        font-size: 1rem;
        border-radius: 25px;
        color: white;
        background: linear-gradient(150deg, $Primaire 1%, $Secondaire 90%);
        border-color: transparent;
        margin-top: 30px;
        &:hover{
            -webkit-filter: brightness(1.2);
                    filter: brightness(1.2);
            box-shadow: 10px 10px 10px #474646;
        }
    }
   
}
footer{
    padding-bottom: 30px;
    margin-top: 40px;
    background-color: #353535;
    padding-top: 25px;
    .LogoFooter{
       -webkit-filter: invert(100%);
               filter: invert(100%);
        margin-left: 20px;
        height: 20px;
    }
}
.ContainFooter{
   display: grid;
   margin-left: 20px;    
   p,a{
       font-size: 1.1rem;
       color: white;
   }
   div{
       display: flex;
       justify-content: flex-start;
       color: white;
       i{
           align-self: center;
           padding-right: 10px;
       }
       p{
           font-size: 1.1rem;
           font-weight: bold;
       }
   }
}
#mail, #CGU{
   margin-top: -10px;
}

.Partenaire{
   margin-top: -30px;
}
#Entrées{
    opacity: 0;
    transition: all;
    -webkit-animation: Slidetop .5s  ease-in forwards;
            animation: Slidetop .5s  ease-in forwards;
}
#Plats{
    transform-origin: bottom;
    opacity: 0;
    transition: all .4s;
    -webkit-animation: Slidetop .5s .5s ease-in forwards;
            animation: Slidetop .5s .5s ease-in forwards;
}
#Desserts{
    opacity: 0;
    transition: all;
    -webkit-animation: Slidetop .5s 1s ease-in forwards;
            animation: Slidetop .5s 1s ease-in forwards;
}
@-webkit-keyframes Slidetop {
    0%{
        transform: translateX(2000px);
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes Slidetop {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}