body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
$Primaire: #9356dc;
$Secondaire: #ff79da;
$Tertiaire: #99e2d0;
a{
    text-decoration: none;
    color: black;
}
header {
   display: flex;
   justify-content: center;
   padding-top: 10px;
   img{
       width: 40%;
       max-height: 50px;
   }
}
.deco{
    box-shadow: 5px 5px 5px #d1d1d1; ;
}
.ContLocalisation{
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, #eaeaea 86%, #d5d5d5 97%, #cfcfcf 100%);
    margin-top: 10px;
    i{
        display: flex;
        align-self: center;
        margin-right: 15px;
        margin-left: -25px;
    }
    p{
        font-weight: bold;
        font-size: 1,1 rem;
    }
}
.ContExplo{
    display: grid;
    background-color: #f6f6f6;
    padding-bottom: 65px;
    div{
        
        justify-content: center;
        display: flex;
        text-align: center;
        h1{
            width: 70%;
            font-size: 1.7rem;
            font-weight: bold;
            margin-left: 50px;
            margin-right: 40px;
        }
        h2{
            width: 80%;
            font-size: 1.3rem;
            font-weight: bolder;
            
        }
        button{
            height: 50px;
            width: 220px;
            font-weight: bold;
            font-size: 0.9rem;
            border-radius: 25px;
            color: white;
            background: linear-gradient(150deg, $Primaire 1%, $Secondaire 90%);
            border-color: transparent;
            margin-top: 30px;
            &:hover{
                filter: brightness(1.2);
                box-shadow: 10px 10px 10px #474646;
            }
        }
    }
}
section.Fonctionnement{
    padding-bottom: 30px;
    padding-top: 30px;
    h2{
        margin-left: 20px;
    }
    ul{
        display: grid;      
        li{
            display: inline-flex;
            width: 95%;
            background: #f6f6f6;
            margin-bottom: 20px;
            border-radius: 25px;
            margin-left: -18px;
            &:hover{
                
                i{
                color:$Primaire;
                }
            }
            i{
                display: flex;
                align-self: center;
                margin-left: 30px;
            }
            p{
                margin-left: 30px;
                font-size: 1.2rem;
                font-weight: bold ;
            }
            .pChiffre{
                position: absolute;
                left: -18px;
                background-color: $Primaire;
                height: 20px;
                width: 20px;
                text-align: center;
                border-radius: 50%;
                color: white;
            }
        }
    }
}
section.ContainerRestaurant{
    
    background-color: #f6f6f6;
    padding-top: 60px;
    margin-bottom: 50px;
    h2{
        margin-left: 20px;
    } 
    .BlockRestaurants{
        display: grid;
        /* grid-template-columns: 1fr 1fr 1fr 1fr; */
        gap: 25px;
        width: 95%;
        margin-left: 20px;
    }
}
.ImgBoite{
    display: flexbox;
    width: 92%;
    height: 100%;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    max-height: 255px;
    position: relative;
}
.BoiteText{
        width: 100%;
        height: 60%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px 15px 0px 0px;
        }
        p.New{
            width: 80px;
            height: 20px;
            background: $Tertiaire;
            color: #2e806b; 
            position: relative;
            bottom: 100%;
            left: 70%;
            text-align: center;
        }
}
.TextPositionNew{
    position: relative;
    bottom: 25%;
    left: 3%;
    font-size: 1.2rem;
    
}
.TextPosition{
    position: relative;
    font-size: 1.2rem;
    bottom: 3%;
    left: 3%;
}
h3{
    font-weight: bold;
}
p.Ville{
    margin-top: -5%;
}
.Coeur{
     position: absolute;
     left: 80%;
     bottom: 15%;
     height: 50px;
     z-index: 4;
     .empty, .full{
         position: absolute;
         top: 40%;
         font-size: 30px;
     }
     .full{
        opacity: 0;
        z-index: 6;
        height: 0%;
        transition: all 1.5s linear;
        background: -webkit-linear-gradient($Primaire, $Secondaire);
        -webkit-background-clip: text;
        -moz-background-clip: text;
       -webkit-text-fill-color: transparent;
       
        &:hover{
            opacity: 1;
            height: 100%;
            transform: scale(1.2);
            
        }
    }
}
h2{
    font-weight: bold;
}
footer{
    background-color: #353535;
    padding-top: 25px;
     .LogoFooter{
        filter: invert(100%);
         margin-left: 20px;
         height: 20px;
     }
}
.ContainFooter{
    display: grid;
    margin-left: 20px;
    padding-bottom: 30px;    
    p,a{
        font-size: 1.1rem;
        color: white;
    }
    div{
        display: flex;
        justify-content: start;
        color: white;
        i{
            align-self: center;
            padding-right: 10px;
        }
        p{
            font-size: 1.1rem;
            font-weight: bold;
        }
    }
}
#mail, #CGU{
    margin-top: -10px;
}

.Partenaire{
    margin-top: -30px;
}
    
@media screen and (min-width: 730px){
    .BlockRestaurants{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1350px){
    .BlockRestaurants{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
