body{
    margin: 0px;
}
a{
    text-decoration: none;
    color: black;
}
header {
   display: flex;
   justify-content: center;
   padding-top: 10px;
   img{
       width: 40%;
       max-height: 50px;
   }
}
.deco{
    box-shadow: 5px 5px 5px #d1d1d1; ;
}
.ContLocalisation{
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, #eaeaea 86%, #d5d5d5 97%, #cfcfcf 100%);
    margin-top: 10px;
    i{
        display: flex;
        align-self: center;
        margin-right: 15px;
        margin-left: -25px;
    }
    p{
        font-weight: bold;
        font-size: 1,1 rem;
    }
}
.ContExplo{
    display: grid;
    background-color: #f6f6f6;
    padding-bottom: 65px;
    div{
        
        justify-content: center;
        display: flex;
        text-align: center;
        h1{
            width: 70%;
            font-size: 1.7rem;
            font-weight: bold;
            margin-left: 50px;
            margin-right: 40px;
        }
        h2{
            width: 80%;
            font-weight: normal;
            font-size: 1.3rem;
        }
        button{
            height: 50px;
            width: 220px;
            font-weight: bold;
            font-size: 0.9rem;
            border-radius: 25px;
            color: white;
            background: linear-gradient(150deg, #ff79da 1%, #9356dc 90%);
            border-color: transparent;
            margin-top: 30px;
        }
    }
}
section.Fonctionnement{
    padding-bottom: 30px;
    padding-top: 30px;
    h2{
        margin-left: 20px;
    }
    ul{
        display: grid;
        
        li{
            display: inline-flex;
            width: 95%;
            background: #f6f6f6;
            margin-bottom: 20px;
            border-radius: 25px;
            margin-left: -18px;
            i{
                display: flex;
                align-self: center;
                margin-left: 30px;
            }
            p{
                margin-left: 30px;
                font-size: 1.2rem;
            }
            .pChiffre{
                position: absolute;
                left: -18px;
                background-color: #9356dc;
                height: 20px;
                width: 20px;
                text-align: center;
                border-radius: 50%;
                color: white;
            }
        }
    }
}
section.ContainerRestaurant{
    
    background-color: #f6f6f6;
    padding-top: 60px;
    h2{
        margin-left: 20px;
    } 
    .BlockRestaurants{
        display: grid;
        gap: 25px;
        width: 95%;
        margin-left: 20px;
    }
}
.ImgBoite{
    display: flexbox;
    width: 92%;
    height: 100%;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    max-height: 255px;
}
.BoiteText{
        width: 100%;
        height: 60%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 15px 15px 0px 0px;
        }
        p.New{
            width: 80px;
            height: 20px;
            background: #99e2d0; 
            position: relative;
            bottom: 100%;
            left: 70%;
            text-align: center;
        }
}
.TextPosition{
    position: relative;
    bottom: 25%;
    left: 3%;
    font-size: 1.2rem;
    h3{
        font-weight: bold;
    }
    p.Ville{
        margin-top: -5%;
    }
    div{
        .Coeur{
            .empty{
                position: absolute;
                left: 80%;
                bottom: 20%;
                font-size: 30px;
            }
            .full{
                display: none;
            }
        }
    }
}
.Coeur:hover{
    .empty{
        display: none;
    }
    .full{
        display: block;
        position: absolute;
        left: 80%;
        bottom: 20%;
        font-size: 30px;
        background: -webkit-linear-gradient( #9356dc, #ff79da);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}