body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-size: 20px;
}

.loader {
  opacity: 0;
  background: #9356dc;
  -webkit-filter: blur(100%);
  filter: blur(100%);
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: loader 3s linear forwards;
  animation: loader 3s linear forwards;
  z-index: 10;
}
.loader img {
  position: absolute;
  top: 50%;
  right: 30%;
  -webkit-animation: loaderimg 3s linear forwards;
  animation: loaderimg 3s linear forwards;
}

@-webkit-keyframes loaderimg {
  0% {
    background: #99e2d0;
    transform-origin: top;
  }
  100% {
    transform: rotate(720deg);
    opacity: 1;
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loaderimg {
  100% {
    transform: rotate(720deg);
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loader {
  0% {
    opacity: 2;
  }
  50% {
    opacity: 1.5;
    background: #ff79da;
  }
  99% {
    opacity: 0.2;
    height: 100%;
    width: 100%;
  }
  100% {
    opacity: 0;
    z-index: -1;
    height: 0px;
    width: 0px;
  }
}
@-webkit-keyframes loader {
  0% {
    opacity: 2;
  }
  50% {
    opacity: 1.5;
    background: #ff79da;
  }
  99% {
    opacity: 0.2;
    height: 100%;
    width: 100%;
  }
  100% {
    opacity: 0;
    z-index: -1;
    height: 0px;
    width: 0px;
  }
}
header {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
header img {
  width: 40%;
  max-height: 50px;
}

.deco {
  box-shadow: 5px 5px 5px #d1d1d1;
}

.ContLocalisation {
  display: flex;
  justify-content: center;
  background: linear-gradient(0deg, #eaeaea 86%, #d5d5d5 97%, #cfcfcf 100%);
  margin-top: 10px;
}
.ContLocalisation i {
  display: flex;
  align-self: center;
  margin-right: 15px;
  margin-left: -25px;
}
.ContLocalisation p {
  font-weight: bold;
  font-size: 1rem;
}

.ContExplo {
  display: grid;
  background-color: #f6f6f6;
  padding-bottom: 65px;
}
.ContExplo div {
  justify-content: center;
  display: flex;
  text-align: center;
}
.ContExplo div h1 {
  width: 70%;
  font-size: 1.7rem;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 40px;
}
.ContExplo div h2 {
  width: 80%;
  font-size: 1.5rem;
  font-weight: bold;
}
.ContExplo div button {
  height: 50px;
  width: 220px;
  font-weight: bold;
  font-size: 0.9rem;
  border-radius: 25px;
  color: white;
  background: linear-gradient(150deg, #9356dc 1%, #ff79da 90%);
  border-color: transparent;
  margin-top: 30px;
}
.ContExplo div button:hover {
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
  box-shadow: 10px 10px 10px #474646;
}

section.Fonctionnement {
  padding-bottom: 30px;
  padding-top: 30px;
}
section.Fonctionnement h2 {
  margin-left: 20px;
}
section.Fonctionnement ul {
  display: grid;
}
section.Fonctionnement ul li {
  display: inline-flex;
  width: 95%;
  background: #f6f6f6;
  margin-bottom: 20px;
  border-radius: 25px;
  margin-left: -18px;
}
section.Fonctionnement ul li:hover {
  background: #f5edff;
}
section.Fonctionnement ul li:hover i {
  color: #9356dc;
}
section.Fonctionnement ul li i {
  display: flex;
  align-self: center;
  margin-left: 30px;
}
section.Fonctionnement ul li p {
  margin-left: 30px;
  font-size: 1.2rem;
  font-weight: bold;
}
section.Fonctionnement ul li .pChiffre {
  position: absolute;
  left: -18px;
  background-color: #9356dc;
  height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  color: white;
}

section.ContainerRestaurant {
  background-color: #f6f6f6;
  padding-top: 60px;
  margin-bottom: 50px;
}
section.ContainerRestaurant h2 {
  margin-left: 20px;
}
section.ContainerRestaurant .BlockRestaurants {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  gap: 25px;
  width: 100%;
}

.ImgBoite {
  display: flexbox;
  width: 90%;
  height: 100%;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  max-height: 245px;
  position: relative;
  margin: auto;
}

.BoiteText {
  width: 100%;
  height: 60%;
}
.BoiteText img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.BoiteText p.New {
  width: 80px;
  height: 20px;
  padding: 10px;
  background: #99e2d0;
  color: #2e806b;
  position: relative;
  bottom: 100%;
  left: 70%;
  text-align: center;
}

.TextPositionNew {
  position: relative;
  bottom: 45%;
  left: 3%;
  font-size: 1.2rem;
}

.TextPosition {
  position: relative;
  font-size: 1.2rem;
  bottom: 3%;
  left: 3%;
}

h3 {
  font-weight: bold;
  font-size: 24px;
}

p.Ville {
  margin-top: -5%;
}

.Coeur {
  position: absolute;
  left: 80%;
  bottom: 15%;
  height: 50px;
  z-index: 4;
}
.Coeur .empty, .Coeur .full {
  position: absolute;
  top: 40%;
  font-size: 30px;
  transition: all 1s linear;
}
.Coeur .full {
  opacity: 0;
  z-index: 6;
  height: 0%;
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Coeur .full:hover {
  opacity: 1;
  height: 100%;
}

.Coeur:hover .empty {
  opacity: 0;
  height: 0%;
}

h2 {
  font-weight: bold;
  font-size: 30px;
}

footer {
  background-color: #353535;
  padding-top: 25px;
}
footer .LogoFooter {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  margin-left: 20px;
  height: 20px;
}

.ContainFooter {
  display: grid;
  margin-left: 20px;
  padding-bottom: 30px;
}
.ContainFooter p, .ContainFooter a {
  font-size: 1rem;
  color: white;
}
.ContainFooter div {
  display: flex;
  justify-content: start;
  color: white;
}
.ContainFooter div i {
  align-self: center;
  padding-right: 10px;
}
.ContainFooter div p {
  font-size: 1.1rem;
  font-weight: bold;
}

#mail, #CGU {
  margin-top: -10px;
}

.Partenaire {
  margin-top: -30px;
}

@media screen and (min-width: 730px) {
  .BlockRestaurants {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1350px) {
  .BlockRestaurants {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
